<button (click)="selectProjectContent()">Seleccionar Contenido</button>
<div
    class="card-container"
    
>
    @if(todoData){
        <span class="icon-close" (click)="onClickIcon.emit(todoData)">x</span>
        <div class="card-body">
            <div class="card-content">
                <h3>{{todoData.id}} {{todoData.title}}</h3>
                <p>{{todoData.description}}</p>
            </div>
        </div>
        <ng-content></ng-content>
        <div class="card-content pills-container">
            <p>Estado: 
                <!-- <span
                    class="status"
                    [style]="{'background-color':todoData.color.status}"
                >
                        {{todoData.status}}
                </span> -->
                @switch (todoData.class.status) {
                    @case ('to-do') {
                        <span
                            class="status to-do"
                        >
                                {{todoData.status}}
                        </span>
                    }
                    @case ('in-progress') {
                        <span
                            class="status in-progress"
                        >
                                {{todoData.status}}
                        </span>
                    }
                    @case ('done') {
                        <span
                            class="status done"
                        >
                                {{todoData.status}}
                        </span>
                    }
                    @case('backlog') {
                        <span
                            class="status backlog"
                        >
                                {{todoData.status}}
                        </span>
                    }
                    @default {
                        <span
                            class="status"
                        >
                                {{todoData.status}}
                        </span>
                    }
                }
            </p>
            <p>Prioridad:
                <span
                    class="priority"
                    [class]="todoData.class.priority"
                >
                {{priority}}
                </span>
            </p>
            <p>Fecha límite: {{todoData.deadLine | date}}</p>
        </div>
        <section class="progressbar-container">
            <div class="progressbar" [attr.data-progress-range]="range">
                <div class="progressbar__fill" [style]="{'width': progress+'%'}">
                </div>
            </div>
            <span>{{progress}} %</span> 
        </section> 
    }@else {
        No hay datos
    }          
</div>